@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
//Changing Bulma's global font
$family-sans-serif: "Nunito", sans-serif;


// ===== COLORS =====
$sky-blue: #59abe3;
$light-green: #3db64a;
$dark-green: #2a7d2c;
$gunmetal-blue: #52779c;
$dark-blue:#2c3e50;
$slate: #5c6b7a;
$light-grey: #C1C1C1;

// Update Bulma's global Colors
$primary: $slate;

// Setting of colors
.sky-blue {
    color: $sky-blue!important;
}
.sky-blue-bg {
    background-color: $sky-blue;
}
.light-green {
    color: $light-green
}
.light-green-bg {
    background-color: $light-green;
}
.gunmetal-blue-bg {
    background-color: $gunmetal-blue;
}
.dark-blue {
    color: $dark-blue
}
.dark-blue-bg {
    background-color: $dark-blue;
}
.slate {
    color: $slate;
}
.slate-bg {
    background-color: $slate;
}
.light-grey {
    color: $light-grey;
}

// ===== END COLORS =====

// ===== FONTS =====
.fs-s4 {
    font-size: 20px!important;
}
.fs-s3 {
    font-size: 24px!important;
}
.fs-s2 {
    font-size: 30px!important;
}
.fs-s1 {
    font-size: 37px!important;
}
.fs-h3 {
    font-size: 50px!important;
}
.fs-h2 {
    font-size: 67px!important;
}
.fs-h1 {
    font-size: 80px!important;
}

.vertically-center {
    margin-top: auto;
    margin-bottom: auto;
}
.align-center {
    text-align: center;
}

.fira-sans {
    font-family: 'Fira Sans', sans-serif;
}
.fira-sans-light-italic {
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
}

.fira-mono {
    font-family: 'Fira Mono', monospace;
}
.fd-underline {
    text-decoration: underline;
}

.fw-lb {
    font-weight: 600!important;
}

.fw-sb {
    font-weight: 525!important;
}

.fw-light {
    font-weight: 300!important;
}

.fw-bold {
    font-weight: bold;
}
.fw-eb {
    font-weight: 800;
}
.align-left {
    text-align: left;
}

.lh1 {
    line-height: 1!important;
}

// ===== END FONTS =====

// ===== SPACING =====
$size0: 0px;
$size1: 8px;
$size2: 16px;
$size3: 24px;
$size4: 32px;

.pt0 {
    padding-top: $size0!important;
}
.pb0 {
    padding-bottom: $size0!important;
}
.pr0 {
    padding-right: $size0!important;
}
.pl0 {
    padding-left: $size0!important;
}

.pt1 {
    padding-top: $size1!important;
}
.pb1 {
    padding-bottom: $size1!important;
}
.pr1 {
    padding-right: $size1!important;
}
.pl1 {
    padding-left: $size1!important;
}

.pt2 {
    padding-top: $size2!important;
}
.pb2 {
    padding-bottom: $size2!important;
}
.pr2 {
    padding-right: $size2!important;
}
.pl2 {
    padding-left: $size2!important;
}

.pt3 {
    padding-top: $size3!important;
}
.pb3 {
    padding-bottom: $size3!important;
}
.pr3 {
    padding-right: $size3!important;
}
.pl3 {
    padding-left: $size3!important;
}

.pt4 {
    padding-top: $size4!important;
}
.pb4 {
    padding-bottom: $size4!important;
}
.pr4 {
    padding-right: $size4!important;
}
.pl4 {
    padding-left: $size4!important;
}

.mt0 {
    margin-top: $size0!important;
}
.mb0 {
    margin-bottom: $size0!important;
}
.mr0 {
    margin-right: $size0!important;
}
.ml0 {
    margin-left: $size0!important;
}

.mt1 {
    margin-top: $size1!important;
}
.mb1 {
    margin-bottom: $size1!important;
}
.mr1 {
    margin-right: $size1!important;
}
.ml1 {
    margin-left: $size1!important;
}

.mt2 {
    margin-top: $size2!important;
}
.mb2 {
    margin-bottom: $size2!important;
}
.mr2 {
    margin-right: $size2!important;
}
.ml2 {
    margin-left: $size2!important;
}

.mt3 {
    margin-top: $size3!important;
}
.mb3 {
    margin-bottom: $size3!important;
}
.mr3 {
    margin-right: $size3!important;
}
.ml3 {
    margin-left: $size3!important;
}

.mt4 {
    margin-top: $size4!important;
}
.mb4 {
    margin-bottom: $size4!important;
}
.mr4 {
    margin-right: $size4!important;
}
.ml4 {
    margin-left: $size4!important;
}

// ===== END SPACING =====

// ===== CUSTOM CLASSES =====
.button-background {
    background-image: linear-gradient(to right, $light-green, $sky-blue);
    color: #ffffff!important;
}

.button-text {
  font-family: "AvenirNext";
  font-size: 62px!important;
  font-weight: 600!important;
}

.light-green-text {
    color: $light-green
}
.light-green-text:hover {
    color: $dark-green;
}
.sky-blue-text {
    color: $sky-blue;
}
.sky-blue-text:hover {
    color: $dark-blue;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  
  .inner {
    margin-left: auto;
    margin-right: auto;
    /*whatever width you want*/
  }

  .pointer {
      cursor: pointer;
  }

  .divider { 
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

// ===== END CUSTOM CLASSES =====


//========= DO NOT WRITE BELOW THIS LINE ==========
@import "../../../node_modules/bulma/bulma.sass";

// to compile:
// sass --sourcemap=none static/sass/mystyles.scss:static/css/bulma.css